﻿<%@ page title="" language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="WbModCtas_Aho, App_Web_evf897nv" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>

<%@ Register src="controles/Ahorros/WbUCtasAhoMod.ascx" tagname="WbUCtasAhoMod" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">    
     <uc1:WbUCtasAhoMod ID="WbUCtasAhoMod1" runat="server" />    
</asp:Content>

