﻿<%@ page title="" language="VB" masterpagefile="~/MasterPage.master" autoeventwireup="false" inherits="wbPlanP, App_Web_evf897nv" enableEventValidation="false" maintainScrollPositionOnPostBack="true" %>

<%@ Register src="controles/wubPlanp.ascx" tagname="wubPlanp" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:wubPlanp ID="wubPlanp1" runat="server" />
</asp:Content>

