﻿<%@ control language="VB" autoeventwireup="false" inherits="controles_Contenedor_Ahorros, App_Web_m9rp-456" %>
<%@ Register assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>
<CR:CrystalReportViewer ID="Ahorros" runat="server" AutoDataBind="true" />
