<%@ control language="vb" autoeventwireup="false" inherits="cuwclientes, App_Web_kfz2kpca" %>
<OBJECT style="WIDTH: 736px; HEIGHT: 392px" codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,2,0"
	height="392" width="736" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" VIEWASTEXT>
	<PARAM NAME="_cx" VALUE="19473">
	<PARAM NAME="_cy" VALUE="10372">
	<PARAM NAME="FlashVars" VALUE="">
	<PARAM NAME="Movie" VALUE="dots.swf">
	<PARAM NAME="Src" VALUE="dots.swf">
	<PARAM NAME="WMode" VALUE="Window">
	<PARAM NAME="Play" VALUE="-1">
	<PARAM NAME="Loop" VALUE="-1">
	<PARAM NAME="Quality" VALUE="High">
	<PARAM NAME="SAlign" VALUE="">
	<PARAM NAME="Menu" VALUE="-1">
	<PARAM NAME="Base" VALUE="">
	<PARAM NAME="AllowScriptAccess" VALUE="">
	<PARAM NAME="Scale" VALUE="ShowAll">
	<PARAM NAME="DeviceFont" VALUE="0">
	<PARAM NAME="EmbedMovie" VALUE="0">
	<PARAM NAME="BGColor" VALUE="FFFFFF">
	<PARAM NAME="SWRemote" VALUE="">
	<PARAM NAME="MovieData" VALUE="">
	<PARAM NAME="SeamlessTabbing" VALUE="1">
	<PARAM NAME="Profile" VALUE="0">
	<PARAM NAME="ProfileAddress" VALUE="">
	<PARAM NAME="ProfilePort" VALUE="0">
	<embed src="dots.swfquality=high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
		type="application/x-shockwave-flashwidth=600height=300bgcolor=#eefffgscale=" showall>
	</embed>
</OBJECT>
