<%@ control language="vb" autoeventwireup="false" inherits="CUWfondofm, App_Web_i2b7nueu" %>
<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="615" border="0" style="WIDTH: 615px; HEIGHT: 409px">
	<TR>
		<TD style="BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(imagenes/logofm.gif); BACKGROUND-REPEAT: no-repeat"></TD>
	</TR>
</TABLE>
