<%@ control language="vb" autoeventwireup="false" inherits="cuwintro4, App_Web_m9rp-456" %>
<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="794" border="0" style="WIDTH: 794px; HEIGHT: 88px">
	<TR>
		<TD align="center" style="WIDTH: 767px">
			<asp:Image id="Image1" runat="server" ImageUrl="../imagenes/cabecera.jpg" Width="792px" Height="88px"></asp:Image></TD>
	</TR>
</TABLE>
